.background-img {
  /* width: 600px;
  height: 600px; */
  background-image: url("../../../../public/Cookie-web\ 50.jpg");
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}
